table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: yellow; 
}

th, td {
    border: 1px solid #000000;
}

th {
    background-color: yellow; 
    color: red;
}

.row-span {
    background-color: yellow; 
}

